LydUdpBroadcastCapture/Connected Services/ServiceReferenceLocalhost/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10832/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LydSemesterModtagBroadcast" />
  <xs:element name="PostLydToList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lyd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sted" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostLydToListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostLydToListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStedId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stedid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStedIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetStedIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLyd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLydResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LydSemesterModtagBroadcast" minOccurs="0" name="GetAllLydResult" nillable="true" type="q1:ArrayOfLyd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TjekStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TjekStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TjekStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Updat2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Updat2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlllydSorted">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlllydSortedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LydSemesterModtagBroadcast" minOccurs="0" name="GetAlllydSortedResult" nillable="true" type="q2:ArrayOfLyd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlllydSted2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlllydSted2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LydSemesterModtagBroadcast" minOccurs="0" name="GetAlllydSted2Result" nillable="true" type="q3:ArrayOfLyd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPersonale">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPersonaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LydSemesterModtagBroadcast" minOccurs="0" name="GetAllPersonaleResult" nillable="true" type="q4:ArrayOfPersonale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLydMedSted">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLydMedStedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LydSemesterModtagBroadcast" minOccurs="0" name="GetAllLydMedStedResult" nillable="true" type="q5:ArrayOfLyd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>