LydUdpBroadcastCapture/Connected Services/ServiceReferenceLocalhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10832/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10832/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10832/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LydSemesterModtagBroadcast" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_PostLydToList_InputMessage">
    <wsdl:part name="parameters" element="tns:PostLydToList" />
  </wsdl:message>
  <wsdl:message name="IService1_PostLydToList_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostLydToListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetStedId_InputMessage">
    <wsdl:part name="parameters" element="tns:SetStedId" />
  </wsdl:message>
  <wsdl:message name="IService1_SetStedId_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetStedIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllLyd_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLyd" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllLyd_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLydResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TjekStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:TjekStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_TjekStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:TjekStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Updat2_InputMessage">
    <wsdl:part name="parameters" element="tns:Updat2" />
  </wsdl:message>
  <wsdl:message name="IService1_Updat2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Updat2Response" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAlllydSorted_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlllydSorted" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAlllydSorted_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlllydSortedResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAlllydSted2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlllydSted2" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAlllydSted2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlllydSted2Response" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPersonale_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersonale" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPersonale_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersonaleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllLydMedSted_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLydMedSted" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllLydMedSted_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLydMedStedResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="PostLydToList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostLydToList" message="tns:IService1_PostLydToList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostLydToListResponse" message="tns:IService1_PostLydToList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetStedId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetStedId" message="tns:IService1_SetStedId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetStedIdResponse" message="tns:IService1_SetStedId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLyd">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllLyd" message="tns:IService1_GetAllLyd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllLydResponse" message="tns:IService1_GetAllLyd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TjekStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TjekStatus" message="tns:IService1_TjekStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TjekStatusResponse" message="tns:IService1_TjekStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Updat2">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Updat2" message="tns:IService1_Updat2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Updat2Response" message="tns:IService1_Updat2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlllydSorted">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAlllydSorted" message="tns:IService1_GetAlllydSorted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAlllydSortedResponse" message="tns:IService1_GetAlllydSorted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlllydSted2">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAlllydSted2" message="tns:IService1_GetAlllydSted2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAlllydSted2Response" message="tns:IService1_GetAlllydSted2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPersonale">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllPersonale" message="tns:IService1_GetAllPersonale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllPersonaleResponse" message="tns:IService1_GetAllPersonale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLydMedSted">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllLydMedSted" message="tns:IService1_GetAllLydMedSted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllLydMedStedResponse" message="tns:IService1_GetAllLydMedSted_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostLydToList">
      <soap:operation soapAction="http://tempuri.org/IService1/PostLydToList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetStedId">
      <soap:operation soapAction="http://tempuri.org/IService1/SetStedId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLyd">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllLyd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TjekStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/TjekStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Updat2">
      <soap:operation soapAction="http://tempuri.org/IService1/Updat2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlllydSorted">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAlllydSorted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlllydSted2">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAlllydSted2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPersonale">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllPersonale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLydMedSted">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllLydMedSted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:10832/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>