LydUdpBroadcastCapture/Connected Services/LydReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LydSemesterModtagBroadcast" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LydSemesterModtagBroadcast" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLyd">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lyd" nillable="true" type="tns:Lyd" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLyd" nillable="true" type="tns:ArrayOfLyd" />
  <xs:complexType name="Lyd">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Lyde" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lyd" nillable="true" type="tns:Lyd" />
</xs:schema>