LydUdpBroadcastCapture/Connected Services/LydReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://lydbroadcastmodtager.azurewebsites.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LydSemesterModtagBroadcast" />
  <xs:element name="PostLydToList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lyd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostLydToListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostLydToListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLyd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLydResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LydSemesterModtagBroadcast" minOccurs="0" name="GetAllLydResult" nillable="true" type="q1:ArrayOfLyd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>